* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);

  .nft-card {
    width: 320px;
    height: 500px;

    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 15px;
    padding: 25px;

    box-shadow: 0px 5px 20px 20px rgba($color: hsl(216, 50%, 16%), $alpha: 0.3);

    .nft-card-image {
      width: 100%;
      height: fit-content;

      overflow: hidden;

      img {
        width: 100%;
        height: fit-content;
        // margin-bottom: 20px;
        border-radius: 10px;
      }

      .nft-card-image-overlay {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0);
        background-color: wheat;
        position: absolute;
        z-index: 1;
        top: 28px;
      }

      .nft-card-image-overlay:hover {
        background-color: rgba($color: hsl(178, 100%, 50%), $alpha: 0.5);
        cursor: pointer;
      }

      .nft-card-image-overlay:hover::after {
        content: url(./sources/images/icon-view.svg);
        width: 100%;
        height: 100%;
        position: relative;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 1000;
      }
    }

    .nft-card-info {
      h1 {
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
      }

      h1:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
      }

      .nft-card-detail {
        font-size: 16px;
        color: hsl(215, 51%, 70%);
        margin-bottom: 10px;
        font-weight: 300;
      }

      .nft-card-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nft-card-price,
        .nft-card-days-left {
          display: flex;
          align-items: center;
        }

        .nft-card-price {
          color: hsl(178, 100%, 50%);
          font-weight: 400;
          img {
            padding-right: 10px;
          }
        }

        .nft-card-days-left {
          color: hsl(215, 51%, 70%);
          font-weight: 300;
          img {
            padding-right: 5px;
          }
        }
      }
    }

    .nft-card-creator {
      display: flex;
      align-items: center;
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid hsl(215, 51%, 70%);

      img {
        width: 40px;
        height: 40px;

        border: 2px solid hsl(0, 0%, 100%);
        border-radius: 50%;
        margin-right: 20px;
      }

      p {
        color: hsl(215, 51%, 70%);
        font-weight: 300;

        span {
          color: hsl(0, 0%, 100%);
        }

        span:hover {
          color: hsl(178, 100%, 50%);
          cursor: pointer;
        }
      }
    }
  }
}
